<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ptt.dao.AdminMapper">
    <insert id="addUser" parameterType="com.ptt.vo.Emp">
        insert into t_emp (username,name,password,sex,birthday,hire_date,position,qualification,professional,experience,flag) values (#{username,javaType=String},#{name,javaType=String},#{password,javaType=String},#{sex,javaType=String},
                #{birthday,javaType=Date},#{hire_date,javaType=Date},#{position,javaType=String},#{qualification,javaType=String},
                #{professional,javaType=String},#{experience,javaType=String},#{flag,javaType=String})
    </insert>
    <select id="findAll" resultType="com.ptt.vo.Emp">
        select * from t_emp
    </select>
    <select id="findUserById" parameterType="java.lang.String" resultType="com.ptt.vo.Emp">
        select * from t_emp where username = #{username,javaType=String}
    </select>
    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from t_emp where username = #{username,javaType=String}
    </delete>
    <update id="updateUser" parameterType="java.lang.String">
        update t_emp set super_id = #{super_id,javaType=String} where username =#{username,javaType=String}
    </update>
</mapper>